---

---

<div class="w-full flex justify-center mb-4">
  <div
    class="animate-bounce bg-white p-2 w-10 h-10 shadow-2xl rounded-full border-2 border-[#dbe9ff] flex items-center justify-center"
  >
    <svg
      class="w-6 h-6"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      viewBox="0 0 24 24"
    >
      <defs>
        <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" style="stop-color:#84cc16;stop-opacity:1"></stop>
          <stop offset="50%" style="stop-color:#22c55e;stop-opacity:1"></stop>
          <stop offset="100%" style="stop-color:#84cc16;stop-opacity:1"></stop>
        </linearGradient>
      </defs>
      <!-- Black border stroke -->
      <path d="M19 14l-7 7m0 0l-7-7m7 7V3" stroke="black" stroke-width="4"
      ></path>
      <!-- Gradient stroke -->
      <path
        d="M19 14l-7 7m0 0l-7-7m7 7V3"
        stroke="url(#gradient)"
        stroke-width="2"></path>
    </svg>
  </div>
</div>
