---
import NFLayout from "@layouts/NFLayout.astro";
---

<NFLayout title="404: Not Found">
  <div class="grow flex flex-col items-center justify-center">
    <h1 class="text-6xl text-white font-bold mb-4">404</h1>
    <p class="text-xl text-gray-300">Page Not Found</p>
  </div>
</NFLayout>
