---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Seoforma">
  <div class="flex md:flex-row flex-col">
    <div class="flex-1">
      <div class="flex w-full h-full items-center justify-center">
        <div class="w-64 h-64">
          <!-- Diamond-shaped image container -->
          <div
            class="w-full h-full bg-cover bg-center"
            style="clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); background-image: url('/seoforma.png');"
          >
          </div>
        </div>
      </div>

      <!-- <p class="text-[48px] whitespace-pre-line text-center">
        BIENVENIDO A<br />SEOFORMA
      </p> -->
    </div>
    <div class="flex-1">
      <p
        class="lg:text-[64px] sm:text-[48px] text-center font-poppins font-bold tracking-widest"
      >
        CONOCE
      </p>
      <p
        class="lg:text-[64px] sm:text-[48px] text-center font-poppins font-bold tracking-widest"
      >
        NUESTRA
      </p>
      <p
        class="lg:text-[64px] sm:text-[48px] text-center font-poppins font-bold tracking-widest"
      >
        HISTORIA
      </p>
    </div>
  </div>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
