---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Seoforma">
  <div class="flex flex-col mx-auto size-full max-w-[90rem] md:max-w-[75rem]">
    <div class="flex flex-col my-16 md:flex-row md:my-24">
      <div class="flex-1">
        <div class="flex w-full h-full items-center justify-center">
          <div class="w-64 h-64">
            <!-- Diamond-shaped image container -->
            <div
              class="w-full h-full bg-cover bg-center"
              style="clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); background-image: url('/Seoforma/seoforma.png');"
            >
            </div>
          </div>
        </div>

        <!-- <p class="text-[48px] whitespace-pre-line text-center">
        BIENVENIDO A<br />SEOFORMA
      </p> -->
      </div>
      <div
        class="flex flex-col flex-1 mt-8 items-center justify-center md:mt-0"
      >
        <p
          class="text-center h-auto font-poppins font-bold tracking-widest text-4xl md:text-6xl font-[700]"
        >
          CONOCE
        </p>
        <p
          class="text-center h-auto font-poppins font-bold tracking-widest text-4xl md:text-6xl font-[700]"
        >
          NUESTRA
        </p>
        <p
          class="text-center h-auto font-poppins font-bold tracking-widest text-4xl md:text-6xl font-[700]"
        >
          HISTORIA
        </p>
      </div>
    </div>
    <!-- <div class="p-[20px] bg-[#1a292b]"> -->
    <div class="p-[20px]">
      <div
        class="flex flex-col gap-[20px] text-[16px] leading-relaxed tracking-tight md:flex-row md:gap-[140px] sm:mt-[40px]"
      >
        <div class="flex-1 text-justify">
          <h1
            class="!mb-[20px] bg-gradient-to-r from-lime-500 via-green-400 to-lime-500 bg-clip-text text-transparent"
          >
            Un poquito de literatura
          </h1>
          <p>
            Somos Seoforma, un equipo joven y apasionado de Mieres, Asturias,
            formado por estudiantes de Administración y Dirección de Empresas
            (ADE) y Programación Informática en la Universidad de Oviedo.
            Nacimos con la visión de transformar el panorama digital de las
            pequeñas y medianas empresas (PYMES), ayudándolas a ser más
            competitivas en un mercado en constante evolución.
          </p>
        </div>
        <div class="flex-1 text-justify">
          <p class="md:mt-[10px]">
            Creemos que el éxito de nuestros clientes es también nuestro éxito.
            Nos enfocamos en ofrecer soluciones personalizadas en diseño y
            desarrollo web que no solo mejoran la presencia online de las
            empresas, sino que también potencian su crecimiento y rentabilidad.
            Nuestra misión es convertirnos en el aliado digital que tu negocio
            necesita, proporcionando herramientas efectivas que impulsen tus
            resultados.
          </p>
          <p class="md:mt-[20px]">
            Desde Mieres, trabajamos con el compromiso de llevar la innovación
            digital a cada rincón de Asturias y más allá. Con Seoforma, tus
            metas se convierten en nuestras, y juntos, alcanzaremos el siguiente
            nivel.
          </p>
        </div>
      </div>
    </div>
  </div>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
