---
import Icon from "./Icon.astro";

export interface Props {
  icon: string;
  title: string;
  text: string;
}

const { icon, title, text } = Astro.props as Props;
const paragraphs = text.split("\n");
---

<!-- Card -->
<div
  class="relative h-full bg-slate-800 rounded-3xl p-px md:before:absolute md:before:w-80 md:before:h-80 md:before:-left-40 md:before:-top-40 md:before:bg-slate-400 md:before:rounded-full md:before:opacity-0 md:before:pointer-events-none md:before:transition-opacity md:before:duration-500 md:before:translate-x-[var(--mouse-x)] md:before:translate-y-[var(--mouse-y)] md:before:group-hover:opacity-100 md:before:z-10 md:before:blur-[100px] md:after:absolute md:after:w-96 md:after:h-96 md:after:-left-48 md:after:-top-48 md:after:bg-indigo-500 md:after:rounded-full md:after:opacity-0 md:after:pointer-events-none md:after:transition-opacity md:after:duration-500 md:after:translate-x-[var(--mouse-x)] md:after:translate-y-[var(--mouse-y)] md:after:hover:opacity-10 md:after:z-30 md:after:blur-[100px] md:overflow-hidden"
>
  <div
    class="relative h-full bg-slate-900 p-6 pb-8 rounded-[inherit] z-20 overflow-hidden"
  >
    <!-- Radial gradient -->
    <div
      class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/2 aspect-square"
      aria-hidden="true"
    >
      <div
        class="absolute inset-0 translate-z-0 bg-slate-800 rounded-full blur-[80px]"
      >
      </div>
    </div>
    <div class="flex flex-col h-full items-center text-center">
      <!-- Image -->
      <div class="relative inline-flex">
        <div
          class="w-[40%] h-[40%] absolute inset-0 m-auto -translate-y-[10%] blur-3xl -z-10 rounded-full bg-indigo-600"
          aria-hidden="true"
        >
        </div>
        <Icon width="200" height="200" icon={icon} class="inline-flex" />
      </div>
      <div class="grow mb-5">
        <h2 class="text-xl text-slate-200 font-bold mb-1 text-center">
          {title}
        </h2>
        {paragraphs.map((paragraph) => <p>{paragraph}</p>)}
      </div>
    </div>
  </div>
</div>
