---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Flowbite css -->
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />

    <!-- Poppins Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Astro transitions -->
    <ViewTransitions />
  </head>
  <body
    class="flex flex-col bg-gradient-to-b from-custom-dark-start to-custom-dark-end h-vh min-h-screen"
  >
    <Header />
    <main id="main-content" class="grow flex flex-col">
      <slot />
      <Footer />
    </main>

    <!-- Flowbite JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
    ></script>
    <script>
      function initializeFlowbiteMenu() {
        const toggleButton = document.querySelector(
          '[data-collapse-toggle="navbar-default"]',
        );
        const menu = document.querySelector("#navbar-default");

        if (toggleButton && menu) {
          toggleButton.addEventListener("click", () => {
            const isExpanded =
              toggleButton.getAttribute("aria-expanded") === "true";
            toggleButton.setAttribute("aria-expanded", String(!isExpanded));
            menu.classList.toggle("hidden");
          });
        }
      }

      document.addEventListener("astro:page-load", () => {
        initializeFlowbiteMenu();
      });
    </script>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #0f1819;
    color: white;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
